:root {
  --first-bg-color: #96a4d3;
  --second-bg-color: #24294b;
  --first-text-color: #fff;
  --second-text-color: #a98f76;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  background: linear-gradient(45deg, var(--second-bg-color), var(--first-bg-color));
}

.container {
  max-width: 325px;
  padding: 20px;

  border-radius: 15px;
  box-shadow: -3px -5px 10px var(--second-bg-color);
}

.display {
  width: 290px;
  margin-bottom: 15px;
  padding: 15px;

  font-size: 40px;
  font-weight: 600;
  text-align: right;

  color: var(--first-text-color);
  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.display::placeholder {
  color: var(--first-text-color);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

button {
  width: 70px;
  height: 70px;

  font-size: 22px;
  font-weight: 700;

  color: var(--first-text-color);
  background-color: var(--first-bg-color);
  border: 0;
  border-radius: 12px;
  box-shadow: -3px -5px 10px var(--second-bg-color);

  transition: all 300ms ease;

  cursor: pointer;
}

button:hover {
  color: var(--second-text-color);
  background-color: var(--second-bg-color);
}
